<!-- <script>
    window.ga = window.ga || function () { (ga.q = ga.q || []).push(arguments) }; ga.l = +new Date;
    ga('create', '{{ site.google_analytics }}', 'auto');
    ga('send', 'pageview');
</script>
<script async src='https://www.google-analytics.com/analytics.js'></script> -->

<script>
    (function (e, t, n, i, s, a, c) {
    e[n] = e[n] || function () { (e[n].q = e[n].q || []).push(arguments) }
        ; a = t.createElement(i); c = t.getElementsByTagName(i)[0]; a.async = true; a.src = s
            ; c.parentNode.insertBefore(a, c)
    })(window, document, "galite", "script", "https://cdn.jsdelivr.net/npm/ga-lite@2/dist/ga-lite.min.js");

    galite('create', '{{ site.google_analytics }}', 'auto');
    galite('send', 'pageview');
</script>